@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffece6;
    padding: 0px;
    margin: 0px;
    font-family: 'Crete Round', serif;
}

.loading-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-img{
    width: 10%;
}

nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #ff6933;
    padding: 8px;
    margin: 0px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 10px rgb(50, 44, 50);
}

h1{
    margin: 12px;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0px;

    justify-content: space-evenly;
    font-size: 24px;
}
li a, .goTo-btn{
    color: white;
    text-decoration: none;

}

.sm-badge{
    position: absolute;
    margin: 0px;
    top: -0.3rem;
    right: 0rem;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 14px;
    background-color: #7428ff;
}



.search{
    height: 35px;
    color: gray;
    width: 137px;
    border: none;
    background-color: #ffe4cc;
    font-weight: bold;
    caret-color: orange;
}

.search:focus-visible{
    outline: none;
    border-bottom: 1px solid black;

}

.search::-webkit-calendar-picker-indicator {
    opacity: 0;
 }
.container{
    position: relative;
    top: 4rem;
    width: 87%;
    margin: auto;
    margin-left: 12rem;
}

.home{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.home .btn{
    width: 20%;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin: auto;
}

.container h1{
    width: fit-content;
    margin: auto;
    /* margin-left: 12rem; */
}
.menu-box{
    width: 20%;
    box-shadow: 5px 6px 8px #c89a7180;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    margin: 1rem;
    height: 25rem;
    border-radius: 15px;
    background-color: #ffdacc;
    min-width: 185px;
    max-width: 230px;
}
.menu-box img{
    width: 100%;
    height: 60%;
    max-width: 165px;
    max-height: 155px;
    min-height: 155px;
    border-radius: 100%;
    margin: 0px  auto;
}

.filter-container{
    position: fixed;
    background-color: #ffe4cc;
    top: 3rem;
    left: 0rem;
    width: 200px;
    height: 100vh;
    padding-top: 1rem;
}

.filter-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
    margin: 12px;
}

.btn{
    width: 60%;
    padding: 7px;
    margin: 4px auto;
    border-radius: 12px;
    background-color: #ff6933;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #ff6933ca;

}

.goTo-btn{
    color: white;
    text-decoration: none;
}

.coupon{
    width: fit-content;
    padding: 10px;
}

.coupon[disabled] {
    background-color: gray;
    cursor:not-allowed;
}

.ind-videoContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.indb-box{
    width:40%;
    box-shadow: 2px 2px 7px #ffdacc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    height: 90vh;
    margin: 1rem;
    border-radius: 15px;
    background-color: #DCDCDC;
}
.indb-box img{
    width: 100%;
    height: 65%;
}

.icon{
    margin: 2px 8px;
}

.m-0{
    margin: 0px;
}

.w-30{
    width: 30%;
    background-color: #DAA520;
    font-weight: bolder;
    font-size: 25px;
    margin: 2px;
    padding: 0px;
}
.btn-box{
    text-align: center;
}
.btn-para{
    font-weight: bold;
    font-size: 18px;
}